<!-- myapp/templates/myapp/book_list.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>

<body>
    <h1>Users</h1>
    <ul>
        {% for user in users %}
        <li>
            <strong>{{ user.name }}</strong> <br> {{ user.username }}<br>
            {{ user.email }}
        </li>
        {% empty %}
        <li>No user added.</li>
        {% endfor %}
    </ul>
    <p>Click <a href="{% url 'create_user' %}">here</a> to create a new user</p>
    <p><a href="{% url 'home' %}">Go back home</a></p>
</body>

</html>